langgraph==0.2.61
langchain-core==0.3.29
langchain-google-genai==2.0.8
langchain-anthropic==0.3.1
langchain-openai==0.2.14
jupyterlab==4.3.4
ipykernel==6.29.5
jupyter==1.1.1
streamlit==1.41.1
python-dotenv==1.0.1
openai==1.59.5
anthropic==0.42.0
beautifulsoup4==4.12.3
httpx==.28.1
aiohttp==3.11.11
loguru==0.7.3

